@import "tailwindcss";

@theme {
  /* Colores exclusivos de Phoenix Vape Shop */
  --color-phoenix-gold: #D4AF37;
  --color-phoenix-gold-light: #F3E5AB;
  --color-phoenix-gold-dark: #AA882E;
  --color-phoenix-light: #FAFAFA; /* Un blanco roto muy elegante */
  --color-phoenix-dark: #1A1A1A;  /* Para textos, no es 100% negro */
  --color-phoenix-gray: #737373;

  /* Colores NeonVape (Conservados temporalmente) */
  --color-dark: #0B0F19;
  --color-neonGreen: #10b981;
  --color-neonPurple: #9333ea;
}

body {
  /* Cambiamos el fondo general al estilo elegante y claro */
  background-color: var(--color-phoenix-light);
  color: var(--color-phoenix-dark);
  margin: 0;
  overflow-x: hidden; /* Cierra el paso a cualquier elemento que se salga por los lados */
  font-family: 'Montserrat', system-ui, sans-serif; /* Tipografía más limpia */
}

/* === ANIMACIÓN DE LA BARRA (MARQUEE) === */
@keyframes scroll-left {
  0% { transform: translateX(0); }
  /* Se mueve al -50% porque duplicamos el contenido para que el ciclo sea infinito y sin cortes */
  100% { transform: translateX(-50%); } 
}

.animate-marquee-infinite {
  animation: scroll-left 25s linear infinite;
  display: flex;
  width: max-content; /* Obliga a que tome todo el ancho de los elementos */
}

/* Pausar la animación si el usuario pone el mouse encima */
.animate-marquee-infinite:hover {
  animation-play-state: paused;
}

/* === ANIMACIÓN DEL CAMIÓN (VISTA BENEFICIOS) === */
@keyframes drive-to-home {
  0% { left: -10%; opacity: 0; }
  15% { opacity: 1; }
  65% { left: calc(100% - 90px); opacity: 1; transform: scale(1); }
  75% { left: calc(100% - 70px); opacity: 0; transform: scale(0.8); }
  100% { left: 100%; opacity: 0; }
}

.animate-drive-to-home {
  animation: drive-to-home 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}